@import "../../styles/shared.module.scss";

.container {
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    text-align: left;
    max-width: 100%;
    padding: 1rem;
    justify-content: space-evenly;

    align-items: center;
}

.cardbox {
    height: calc(100% - 6rem);
    margin-top: 6rem;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    
    scroll-snap-type: x var(--tw-scroll-snap-strictness);
    --tw-scroll-snap-strictness: mandatory;
    > * {
        margin: 0 0.6125rem;
    }
}

