/* 
 * Dark Mode Theme
 */

// Main palette
$_background: rgba(#141414, 1);
$_background_secondary: rgba(#202020, 1);
$_text_color: rgba(#fff, 1);
$_heading_color: rgba(gray, 1);
$_accent_color: rgba(#F7AB0A, 1);
$_accent_secondary: rgba(#1C1C1C, 1);

@use 'theme-map';

$theme: theme-map.generate-map($_background,
                $_background_secondary,
                $_text_color,
                $_heading_color,
                $_accent_color,
                $_accent_secondary);