.snapBox {
    scroll-snap-type: y var(--tw-scroll-snap-strictness);
    --tw-scroll-snap-strictness: mandatory;
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.snap {
    scroll-snap-align: center;
}