.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}