$fgColor: gray;
$bgColor: transparent;

.container {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
}

.header {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    max-width: 80rem;
    margin: 0 auto;
    
    padding: 0.1rem 0.7rem;
}

.headerPart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email {
    color: $fgColor;
    font-weight: 300;
}

.email:hover {
    cursor: pointer;
}

.text {
    display: none;
    text-transform: uppercase;
    color: $fgColor;
    font-weight: 400;
}

@media screen and (min-width: 48rem) {
    .text {
        display: inline-flex;
    }
}

:export {
    fgColor: $fgColor;
    bgColor: $bgColor;
}
