.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 500px;
    scroll-snap-align: center;
    background-color: #202020;
    padding: 1.5rem;
    opacity: 0.5;
    cursor: pointer;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    > * {
        margin-top: 1.75rem;
    }
    
}
.container:hover {
    opacity: 100%;
}


.image {
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
    object-fit: cover;
}

.list {
    > * {
        margin-top: 1.25rem;
    }
}

.title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 300;
}

.company {
    font-size: 1.5rem;
    font-weight: bold;
}

.tech_container {
    display: flex;
}

.tech {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 9999px;
    object-fit: cover;
}

.time {
    color: gray;
    text-transform: uppercase;
}