.container {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    max-width: 75rem;
    padding: 0 2.5rem;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
}

.title {
    position: absolute;
    top: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    color: gray;
    font-weight: 500;
    font-size: 1.4rem;
}

.image {
    margin-bottom: 2rem;
    flex-shrink: 0;
    width: 12rem;
    height: 12rem;
    border-radius: 9999px;
    object-fit: cover;
}

.subheader {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.textContainer {
    margin-top: 1rem;
    padding: 0 0;
}

.text {
    font-size: 1rem;
}

@media screen and (min-width: 48rem) {
    .container {
        text-align: left;
        flex-direction: row;
    }

    .image {
        margin-bottom: 0;
        border-radius: 1rem;
        width: 18rem;
        height: 18rem;
    }

    .textContainer {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 80rem) {
    .image {
        width: 30rem;
        height: 30rem;
    }
}