.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pingCircle {
    position: absolute;
    border: 1px solid #1C1C1C;
    border-radius: 9999px;
    height: 12rem;
    width: 12rem;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

    @keyframes ping {
        75%, 100% {
            transform: scale(2.5);
            opacity: 0;
        }
    }
}

.pulseCircle {
    position: absolute;
    border: 1px solid #F7AB0A;
    border-radius: 9999px;
    height: 40rem;
    width: 40rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes pulse {
        0%, 100% {
            opacity: 0.5;
        }
        50% {
            opacity: 0.25;
        }
    }
}